parameters:
  level: 5
  excludePaths:
    - vendor
  scanFiles:
    - cardanopress-governance.php
  scanDirectories:
    - %currentWorkingDirectory%/.cache/wordpress
    - %currentWorkingDirectory%/.cache/wordpress-tests-lib
    - %currentWorkingDirectory%/dependencies
    - %currentWorkingDirectory%/../cardanopress
  dynamicConstantNames:
    - CP_GOVERNANCE_FILE
